<div id="slide-out" class="side-nav fixed">
	<ul >
		<li>
			<div class="center">
				<img width="120" height="120" class="circle" src="/images/p3.png">
			</div>
			<div class="center">
				<span style="font-size:130%;"><strong>Lucas Chen</strong></span>
				<span id="switch-btn" class="right fixed-action-btn">
				<a class="btn-floating btn red">
				    <i class="large material-icons">credit_card</i>
				</a>
				</span>
			</div>
			<hr>
		</li>
		<br><br>
		<li><a href="/account"> <i class="navTitle material-icons red-text text-darken-1">import_contacts</i><span class="navText">Account Overview</span></a></li>
		<li><a href="/transactions"> <i class="navTitle material-icons blue-text text-darken-4">description</i><span class="navText">All Transactions</span></a></li>
		<li><a href="/daily"> <i class="navTitle material-icons orange-text text-darken-1">insert_chart</i><span class="navText">Daily Rundown</span></a></li>
		<li><a href="/visualize"> <i class="navTitle material-icons pink-text text-lighten-1">bubble_chart</i><span class="navText">Visualize w/ Hcharts</span></a></li>
		<li><a href="/visualize2"> <i class="navTitle material-icons pink-text text-lighten-1">bubble_chart</i><span class="navText">Visualize w/ d3</span></a></li>
	</ul>
	<div id="navBotImg" class="card-image bottom center"><img width="300px" height="150px" src="/images/p2.jpg"></div>
</div>