<br><br>
<img width="200" id="loginLogo" height="200" src='/images/p1.png'>
<div class="container">
	<div class="row">
		<h2>All your financials, in one place </h2>
		<br><br>
		<form id="login-form" class="col s10">
			<label for="inputEmail">Email address</label>
			<input type="email" id="inputEmail" class="form-control" placeholder="Email address"  autofocus>
			<label for="inputPassword">Password</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Password" >
			<p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
			<br><br>
			<button class="btn waves-effect waves-teal" id="link-btn">Sign in</button>
			<div class="progress" id="loading">
				<div class="indeterminate"></div>
			</div>
		</form>
        
	</div>
        <div style="position:fixed;right:30px;bottom:220px;width:260px;height:50px" >
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title" style="font-size:130%">To begin:</span><hr>
                    <p>Use email: chen654@usc.edu, password: 1234.</p>
                    <p>Then use your own credentials to log in to your institution. Don't worry, nothing is stored and your information is  safe!</p>
                </div>
            </div>
        </div>
</div>